@page
@model RegisterModel
@{

}

<form method="post">

    <input type="text" name="name" />
    <input type="email" name="email" />
    <input type="password" name="password" />

    <button type="submit">Add</button>

</form>