@page
@model Newel.Web.Pages.EditModel
@{
}

<div class="text-center">

    <div>Edit Password not implemented</div>
    <div>Blank fields won't be changed</div>

    <div class="container">
        <button type="button">
            <a asp-area="" asp-page="/EditPassword">Edit Password</a>
        </button>
    </div>

    <form method="post">
        <input type="text" name="name" />
        <input type="email" name="email" />

        <button type="submit">Add</button>
    </form>

    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</div>
