@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <button type="button">Log In</button>


    <div class="container">
        <button type="button">
            <a asp-area="" asp-page="/Register">Register</a>
        </button>
    </div>


</div>
