@page
@model IndexModel
@using Newel.Web.Models.User
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    @if (Model.IsLogged)
    {
        //maybe here
        <div class="container">
            <button type="button">
                <a asp-area="" asp-page="/List/Create">Create New List</a>
            </button>
        </div>

        <div class="container">
            <button type="button">
                <a asp-area="" asp-page="/List/Edit">Edit List</a>
            </button>
        </div>



        <form method="post" asp-page-handler="Form1">

            <select id="dropdown-button" asp-for="CurrentList.Id">
                <option value="">-- Select list --</option>
                @foreach (var option in Model.userLists)
                {
                    <option value="@option.Id">
                        <button type="button">
                            @option.Name
                        </button>
                    </option>
                }

            </select>
            <button type="submit" name="submitBtn">Submit</button>
        </form>

        @if (Model.CurrentList != null)
        {
            <label>Current list: @Model.CurrentList.Name</label>
        }
    }


    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</div>